pizza_meat/
pizza_meat.zip
model.keras
.conda
10_food_classes_all_data/
__MACOSX/
10_food_classes_10_percent/
10_food_classes_1_percent/
101_food_classes_10_percent/
custom_food_images/
checkpoints/
extracting-attributes-from-fashion-images-jan-2024/
pubmed-rct/
bit_predict/
agents/